body {
  height: 100vh;
  background: #000;
  overflow: hidden;
  background-image: linear-gradient(
    to left top,
    #ba4141,
    #b73a39,
    #b33230,
    #b02a28,
    #ac211f,
    #a51c1a,
    #9f1616,
    #981011,
    #8e0e0f,
    #830c0d,
    #790a0b,
    #6f0808
  );
}

.tree-container {
  position: relative;
  width: 300px;
  height: 475px;
  margin: auto;
  z-index: -2;
  overflow: hidden;
}

.tree {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
}

.star {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #a18006;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  left: 95px;
  z-index: 4;
  filter: drop-shadow(0.75em 0.75em 0.5em);
}

.cone {
  width: 150px;
  height: 100px;
  border-radius: 45%;
  background: radial-gradient(farthest-side at top, #026e46, #024e32);
  -webkit-mask: conic-gradient(
    from 150deg at top,
    #0000,
    #000 1deg 60deg,
    #0000 61deg
  );
}

.tree-cone1 {
  position: absolute;
  top: 50px;
  width: 200px;
  height: 180px;
  left: 45px;
  z-index: 3;
}

.tree-cone2 {
  position: absolute;
  top: 75px;
  width: 240px;
  height: 220px;
  left: 25px;
  z-index: 2;
}

.tree-cone3 {
  position: absolute;
  top: 115px;
  width: 260px;
  height: 240px;
  left: 15px;
}

.trunk {
  position: absolute;
  top: 310px;
  width: 75px;
  height: 75px;
  background: radial-gradient(farthest-side at top, #4e2402, #351801);
  z-index: -1;
  left: 105px;
}