body {
  font-size: 150%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  background-image: linear-gradient(
    to left top,
    #ba4141,
    #b73a39,
    #b33230,
    #b02a28,
    #ac211f,
    #a51c1a,
    #9f1616,
    #981011,
    #8e0e0f,
    #830c0d,
    #790a0b,
    #6f0808
  );
}

/* christmas tree*/

.tree-container {
  position: relative;
  width: 300px;
  height: 475px;
  margin: auto;
  z-index: -2;
  overflow: hidden;
}

.tree {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
}

.star {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #a18006;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  left: 95px;
  z-index: 4;
  filter: drop-shadow(0.75em 0.75em 0.5em);
}

.cone {
  width: 150px;
  height: 100px;
  border-radius: 45%;
  background: radial-gradient(farthest-side at top, #026e46, #024e32);
  -webkit-mask: conic-gradient(
    from 150deg at top,
    #0000,
    #000 1deg 60deg,
    #0000 61deg
  );
}

.tree-cone1 {
  position: absolute;
  top: 50px;
  width: 200px;
  height: 180px;
  left: 45px;
  z-index: 3;
}

.tree-cone2 {
  position: absolute;
  top: 75px;
  width: 240px;
  height: 220px;
  left: 25px;
  z-index: 2;
}

.tree-cone3 {
  position: absolute;
  top: 115px;
  width: 260px;
  height: 240px;
  left: 15px;
}

.trunk {
  position: absolute;
  top: 310px;
  width: 75px;
  height: 75px;
  background: radial-gradient(farthest-side at top, #4e2402, #351801);
  z-index: -1;
  left: 105px;
}

/* ornaments */
.ornament {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 3px #033b26;
  z-index: 4;
}

.shine {
  position: absolute;
  width: 55%;
  height: 55%;
  top: 10%;
  right: 11%;
  border-radius: 50%;
  background: white;
  filter: opacity(60%);
}

.or1 {
  left: 28%;
  top: 34%;
  background: #0742d9;
}
.or2 {
  left: 60%;
  top: 40%;
  background: #c91212;
}
.or3 {
  left: 20%;
  top: 49%;
  background: #dbb700;
}
.or4 {
  left: 48%;
  top: 55%;
  background: #0742d9;
}
.or5 {
  left: 70%;
  top: 65%;
  background: #dbb700;
}
.or6 {
  left: 25%;
  top: 63%;
  background: #c91212;
}

.bells-container {
  position: relative;
  left: 80px;
  top: 65px;
}

.bell1,
.bell2 {
  width: 30px;
  height: 0;
  border-bottom: 35px solid #d4a429;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  z-index: 11;
}

.bell1 {
  position: relative;
  top: 50px;
  left: 50px;
  transform: rotate(25deg);
}
.bell2 {
  position: relative;
  top: 15px;
  left: 90px;
  transform: rotate(-25deg);
}

.bell-top {
  width: 30px;
  height: 15px;
  background-color: #d4a429;
  position: relative;
  bottom: 13px;
  border-radius: 15px 15px 0 0;
}
.bell-bottom {
  width: 41px;
  height: 0;
  border-bottom: 10px solid #d4a445;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: relative;
  top: 19px;
  right: 11px;
  border-radius: 0 0 7.5px 7.5px;
}

.bell-mid {
  background-color: #d4a429;
  height: 7.5px;
  width: 15px;
  position: relative;
  top: 18.5px;
  border-radius: 0 0 7.5px 7.5px;
}

.bow {
  position: relative;
  left: 68px;
  bottom: 45px;
  transform: rotate(-5deg);
  z-index: 12;
}
.b1 {
  height: 12.5px;
  width: 0;
  border-right: 20px solid #e95840;
  border-top: 7.5px solid transparent;
  border-bottom: 7.5px solid transparent;
  position: relative;
  bottom: 8.5px;
  left: 30px;
}
.b2 {
  height: 12.5px;
  width: 0;
  border-left: 20px solid #e95840;
  border-top: 7.5px solid transparent;
  border-bottom: 7.5px solid transparent;
  position: relative;
  bottom: 36px;
  left: 0px;
}

.b3 {
  background-color: #e4391b;
  height: 20px;
  width: 17.5px;
  border-radius: 7.5px;
  position: relative;
  bottom: 60px;
  left: 16px;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.07);
  position: absolute;
  width: 270px;
  height: 40px;
  border-radius: 50%;
  top: 390px;
  left: 10px;
  z-index: -1;
}

/* gifts*/
.gift {
  position: absolute;
  width: 60px;
  height: 50px;
  background-color: #ffc857;
  top: 365px;
  left: 30px;
  box-shadow: inset -8px 0 0 rgba(0, 0, 0, 0.07);
}

.gift:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 20px;
  left: -5px;
  background-color: #ffc857;
  box-shadow: inset -8px -4px 0 rgba(0, 0, 0, 0.07);
}

.gift:after {
  content: "";
  background-color: #db3a34;
  width: 10px;
  height: 50px;
  position: absolute;
  left: 25px;
}

.ribbon {
  position: absolute;
  width: 20px;
  height: 10px;
  border: 3px solid #db3a34;
  border-radius: 50%;
  transform: skew(15deg, 15deg);
  top: 350px;
  left: 35px;
}

.ribbon:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 10px;
  border: 3px solid #db3a34;
  border-radius: 50%;
  transform: skew(-15deg, -20deg);
  left: 22px;
  top: -8px;
}

.gift2 {
  position: absolute;
  width: 50px;
  height: 40px;
  background-color: #08bdbd;
  top: 380px;
  left: 150px;
  box-shadow: inset -8px 0 0 rgba(0, 0, 0, 0.07);
}

.gift2:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 15px;
  background-color: #08bdbd;
  left: -5px;
  box-shadow: inset -8px -4px 0 rgba(0, 0, 0, 0.07);
}

.gift2:after {
  content: "";
  background-color: #abff4f;
  width: 10px;
  height: 40px;
  position: absolute;
  left: 20px;
}

.ribbon2 {
  position: absolute;
  width: 15px;
  height: 7px;
  border: 3px solid #abff4f;
  border-radius: 50%;
  transform: skew(15deg, 15deg);
  top: 370px;
  left: 155px;
}

.ribbon2:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 7px;
  border: 3px solid #abff4f;
  border-radius: 50%;
  transform: skew(-15deg, -20deg);
  left: 15px;
  top: -8px;
}

/* title */

h1 {
  font-family: "Berkshire Swash";
  font-weight: normal;
  color: green;
  padding-top: 5%;
  text-align: center;
  text-shadow: 10px 10px 5px black;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@keyframes move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0.75em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* top light rope*/
.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
}
.lightrope li {
  position: relative;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: rgba(0, 247, 165, 1);
  box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
  animation-name: flash-1;
  animation-duration: 2s;
}
.lightrope li:nth-child(2n + 1) {
  background: rgba(0, 255, 255, 1);
  box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
  animation-name: flash-2;
  animation-duration: 0.4s;
}
.lightrope li:nth-child(4n + 2) {
  background: rgba(247, 0, 148, 1);
  box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
  animation-name: flash-3;
  animation-duration: 1.1s;
}
.lightrope li:nth-child(odd) {
  animation-duration: 1.8s;
}
.lightrope li:nth-child(3n + 1) {
  animation-duration: 1.4s;
}
.lightrope li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9.3333333333px;
  border-radius: 3px;
  top: -4.6666666667px;
  left: 1px;
}
.lightrope li:after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 18.6666666667px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}
.lightrope li:last-child:after {
  content: none;
}
.lightrope li:first-child {
  margin-left: -40px;
}
@keyframes flash-1 {
  0%,
  100% {
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
  }
}
@keyframes flash-2 {
  0%,
  100% {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
  }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
  }
}
@keyframes flash-3 {
  0%,
  100% {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}

/* snowflakes*/

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 10;
  color: #fff;
  text-shadow: 0 0 1px #000;
  font-size: 1em;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 80%;
  animation-delay: 3s, 1.5s;
}

.flipdown {
  margin: 0 auto;
}

.container {
  height: 480px;
  width: 350px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
.plane {
  position: relative;
  -webkit-animation: float 3s infinite;
  animation: float 3s infinite;
}
@-webkit-keyframes float {
  50% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}
@keyframes float {
  50% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}
.hand {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-animation: wave 1.5s infinite;
  animation: wave 1.5s infinite;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.blade {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 54%;
  -ms-transform-origin: 50% 54%;
  transform-origin: 50% 54%;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
@-webkit-keyframes wave {
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
@keyframes wave {
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
@media screen and (min-width: 451px) {
  a {
    font-size: 20px;
    padding: 8px 12px 8px 12px;
  }
}

@media screen and (max-width: 450px) {
  a {
    font-size: 14px;
    padding: 5px 8px 5px 8px;
  }
}

.santa-container {
  width: 350px;
  height: 400px;
  bottom: 10px;
  position: absolute;
}
.santa-container {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: plane-movement;
}

@keyframes plane-movement {
  0% {
    opacity: 1;
    left: 100vw;
    bottom: 50vh;
  }
  50% {
    opacity: 1;
    left: 50vw;
    bottom: 40vh;
  }
  75% {
    opacity: 1;
    left: 0vw;
    bottom: 40vh;
  }
  100% {
    opacity: 1;
    left: -100vw;
    bottom: 50vh;
  }
}
